body {
    margin: 0;
}

.container {
    margin: 0px 166px;
}

.header {
    background-image: url(priroda.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.header-line {
    padding-top: 50px;
    display: flex;
}
